<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AVAudio-exercise.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9E5CF1CB24E4257F00737C90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E5CF1E124E4258200737C90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E5CF1EC24E4258200737C90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
